*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
/* header-menu part */
.header-menu{
    background-color: black;
}
.header-menu ul{
    text-align: center;
}
.header-menu ul li{
    display: inline-block;
    margin-left: -4px;
}
.header-menu ul li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 15px 40px;
    font-size: 20px;
    font-family: unset;
    /* border-right: 1px solid #ddd; */
}
.header-menu ul li:first-child a{
    /* border-left: 1px solid #dddddd; */
}
.header-menu ul li a:hover{
    background-color: #4272d7;
}
/* Dropdown menu part */
.header-menu ul li{
    position: relative;
}
.header-menu ul li ul{
    position: absolute;
    top: 100%;
    left: 0;
    width: 287px;
    background-color: black;
    display: block;
    border-top: 4px solid #4272d7;

    transition: .5s;
}
.header-menu ul li ul li {
	display: block;
	margin-left: 0;
}
.header-menu ul li ul li a {
	display: block;
    border: none;
    border-bottom: 1px solid #ddd;
}
.header-menu ul ul li:first-child a{
    margin-left: none;
}
/* dropdown hover part */
.header-menu ul li:hover > a{
    background-color: #4272d7;
}
.header-menu ul li ul{
    /* display: none; */
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: top center;
}
.header-menu ul li:hover ul{
    /* display: block; */
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}

/* sub menu part */
.header-menu ul ul li{
    position: relative;
}
.header-menu ul ul li ul{
    position: absolute;
    left: 100%;
    top: 0;
}
.header-menu ul ul ul li:last-child a{
    border-bottom: none;
}

/* sub menu part hover part */
.header-menu ul ul li ul{
    display: none;
    /* opacity: 0;
    visibility: hidden;
    transform: scaleY(0); */
}
.header-menu ul ul li:hover ul{
    display: block;
    /* opacity: 1;
    visibility: hidden;
    transform: scaleY(1); */
}

/* banner-content part */
.banner-div{
    background-image: url(https://wallpapercave.com/wp/CpRGNUC.jpg);
    text-align: center;
    background-size: cover;
    background-position: center;
    max-height: 100%;
    padding: 130px 20px;
}
.banner-div h1{
    display: inline-block;
    background-color: white;
    color:#09131a;
    margin-bottom: 20px;
    padding: 10px 30px;
    font-size: 40px;
}
.banner-div h2{
    background-color: white;
    color: #09131a;
}
.banner-div a{
    display: inline-block;
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 10px;
    margin: 30px 0px;
}

/* footer menu */

.footer-icon{
    background-color: black;
    text-align: center;
    padding: 10px 0px 5px;
}
.footer-icon p{
    color: white;
    margin-bottom: 15px;
}
.footer-icon ul{
    text-align: center;
}
.footer-icon ul li{
    display: inline-block;
    margin-left: -4px;
}
.footer-icon ul li a{
    display: inline-block;
    color: black;
    background-color: #00a8ff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    line-height: 50px;
}
.footer-icon ul li a:hover{
    background-color: #036ca0;
}

